body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/1e/Women_logo.png') center;
    background-size: cover;
    min-height: 600px;
    font-family: 'Helvetica Neue', sans-serif;
  }
    
  
    
  h1{
    justify-content: left;
  }
  
 
  header {
    background-color: #336699;
    padding: -2.5px;
    justify-content: center;
   
    
}

  nav {
    text-align: center;
  }
  .menu {
    display: inline-block;
  }
  .menu>li {
    float: left;
    color: #98d3e2;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 17px;
  }
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu li {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    
  }
  
  .sub-menu li:hover {
    background: black;
  }
  .menu>li:hover .sub-menu li {
    transform: scale(1);
    background: rgb(255, 0, 234);
  }
  .menu>li:hover .sub-menu {
    transform: scale(1);
    
  }
